<%- include("./components/header") %>
<body class="p-5">
  <a href="/login">
    <button
      class="py-4 px-14 rounded-2xl bg-black text-white cursor-pointer font-semibold"
    >
      Login
    </button>
  </a>
</body>
<%- include("./components/footer") %>
