<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/output.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Monomakh&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
      * {
        font-family: "Nunito", serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
    </style>
  </head>
</html>
